In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("../../../Optimus")

# Chapter Three - Data Wrangling

In [3]:
from optimus import Optimus 
op = Optimus("pandas")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\LuisA\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [ ]:
df = op.create.dataframe({
    "name": ["optimus", "bumblebee", "eject", 2],
    "job": ["Leader", "Espionage", 1, 3],
    "id": [1, 2, 3, 4],
    "birth": ["22/10/10", "22/08/08", "23/07/07", "22/10/10"]
})
df.display()

In [ ]:
print(df.data)
print(type(df.data))

### Converting datatypes

In [ ]:
try:
    df.data["name"].astype(int)
except Exception as e:
    print(e)

In [ ]:
df.cols.to_integer("name")

In [ ]:
df.cols.to_float("name")

In [ ]:
df.cols.to_string("id")

In [ ]:
df.cols.to_datetime("birth", "YY/mm/dd")

### Selecting columns

In [ ]:
df.cols.select("job")

In [ ]:
df.cols.select(["name", "job"])

In [ ]:
df.cols.select(regex="n.*")

In [ ]:
df.cols.select(data_type="int")

### Moving columns

In [ ]:
df.cols.move(["name", "job"], "after", "id")

In [ ]:
df.cols.move(["name", "job"], "end")

### Renaming columns

In [ ]:
df2 = df.cols.rename(["name", "job"], ["string_name", "string_job"])
df2 = df2.cols.rename("id", "int_id")

### Removing columns

In [ ]:
df.cols.drop("job")

In [ ]:
df.cols.select(["job", "name"])

### Input and output columns

In [ ]:
df.cols.upper("name")

In [ ]:
df.cols.upper(["name", "job"])

In [ ]:
df.cols.upper("name", output_cols="name_upper")

In [ ]:
df.cols.upper(["name", "job"], output_cols=["name_upper", "job_upper"])

In [ ]:
df.cols.upper(["name", "job"], "upper")

In [ ]:
df.cols.upper("*")

In [ ]:
df.cols.upper("name").cols.lower("job")

### More managing function

In [ ]:
df.cols.drop("job")

In [ ]:
df.cols.keep("id")

In [ ]:
df.cols.rename("name", "first_name")

In [ ]:
df.cols.duplicate(["name", "id"], ["first_name", "id_number"])

In [ ]:
df.cols.set("last_name", None)

In [ ]:
df.cols.set("last_name", None).cols.fill_na("last_name", "Placeholder Value")

### String functions

In [ ]:
df.cols.upper("name")

In [ ]:
df.cols.pad("id", 3, "0")

### Merge and split

In [ ]:
df = op.create.dataframe({ 
    "xy_position": ["42.8, 7.7", "23.3, 25.1", "35.6, 50.5", "52.7, 67.4"],
    "depth": [10.5, 50.1, 20.2, 97.0]
})

In [ ]:
df.cols.unnest("xy_position", separator=", ", output_cols=["x", "y"], drop=True)

In [ ]:
df.cols.nest(["xy_position", "depth"], separator=", ", output_col="xyz_position", drop=True)

### Search and replace

In [ ]:
df = op.create.dataframe({
    "name": ["Optimus, Prime", " Arcee, Ariel",  "Bumblebee/Maggiolino"]
})

In [ ]:
df.cols.replace("name", [", ", "/"], " ", search_by="chars")

### Numeric functions

In [ ]:
df = op.create.dataframe({ "values": [0.5, 2, "3.14"] })

In [ ]:
df.cols.sin("values")

In [ ]:
df.cols.log("values", 5)

### Date and time Functions

In [ ]:
df = op.create.dataframe({ "date": ["09/01/2021", "30/09/2020", "03/07/2020", "21/01/2030"] })

In [ ]:
df.cols.year("date")

In [ ]:
df.cols.date_format("date", output_format="%m-%d-%Y")

### URL Functions

In [ ]:
from optimus import Optimus
op = Optimus("pandas") 
 
data = {"A": ["https://www.hi-optimus.com:8080/index.php?a=1"]}  
df = op.create.dataframe(data)
 
df["port"] = df.cols.port("A")
df["subdomain"] = df.cols.sub_domain("A")
df["domain"] = df.cols.domain("A")

df.display()

### Email functions

In [ ]:
df = op.create.dataframe({"A": ["optimus@cybertron.com"]})
 
df["username"] = df.cols.email_username("A")
df["domain"] = df.cols.email_domain("A")

df.display()

### UDF

In [ ]:
data = {"A":[0,1,2,3,4,5],"B":[6,7,8,9,10,11]} 
df = op.create.dataframe(data)
df.display()

In [ ]:
def add_two(pandas_series):
    print(type(pandas_series))
    return pandas_series + 2
 
df.cols.apply("A", add_two)

In [ ]:
def add_two(single_value):    
    print(type(single_value))
    return single_value + 2
 
df.cols.apply("A", add_two, mode="map").print()

In [ ]:
def add_two(value):
    return value + 2

print(df.cols.apply("*", add_two))

In [4]:
df = op.load.file("DCIGNP2AYL.txt")
df.display()

In [ ]:
from optimus.functions import F

def haversine(lat1, lon1, lat2, lon2):    
    MILES = 3959
    lat1, lon1, lat2, lon2 = map(F.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1 
    dlon = lon2 - lon1         
    a = F.sin(dlat/2)**2 + F.cos(lat1) * F.cos(lat2) * F.sin(dlon/2)**2
    c = 2 * F.asin(F.sqrt(a))  
    total_miles = MILES * c
    print(total_miles)
    return total_miles

In [ ]:
%%time
df["distance"] = haversine(40.671, -73.985, df['latitude'], df['longitude'])

In [7]:
import pandas as pd
import numpy as np
pd.Series(np.radians(df.data['latitude'])) - pd.Series(np.radians(df.data['longitude']))

0       2.033377
1       2.033482
2       2.033698
3       2.032051
4       2.033435
          ...
1626    2.004572
1627    2.003978
1628    2.003300
1629    2.003692
1630    2.004557
Length: 1631, dtype: float64

In [ ]:
(df.cols.select("distance"))

In [ ]:
df

In [ ]:
def udf(df):
    return df["id"].cols.cos()+ df["id"].cols.sin()

udf(df)
# df.cols.assign({"a":udf})